.header{
    position: relative;
}


.header img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.ImgOver{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
}

.content{
    position: absolute;
    top: 600px;
    left: 20px;
    color: white;
    font-size: 5em;
}

.headerText{
    position: relative;
    width: 100%;
    height: 150vh;
}

.contentText{
    position: absolute;
    height: 400px;
    top: 200px;
    left: 20px;
    color: white;
    font-size: 30px;
}